
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title>在线编辑器-逐浪CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="//cdn.bootcss.com/codemirror/5.2.0/codemirror.min.js"></script>
    <link rel="shortcut icon" href="//static.runoob.com/images/favicon.ico" mce_href="//static.runoob.com/images/favicon.ico" type="image/x-icon" >
	<link rel="stylesheet" href="//cdn.bootcss.com/codemirror/5.2.0/codemirror.min.css">
	<script src="//cdn.bootcss.com/codemirror/5.2.0/mode/htmlmixed/htmlmixed.min.js"></script>
	<script src="//cdn.bootcss.com/codemirror/5.2.0/mode/css/css.min.js"></script>
	<script src="//cdn.bootcss.com/codemirror/5.2.0/mode/javascript/javascript.min.js"></script>
	<script src="//cdn.bootcss.com/codemirror/5.2.0/mode/xml/xml.min.js"></script>
	<script src="//cdn.bootcss.com/codemirror/5.2.0/addon/edit/closetag.min.js"></script>
	<script src="//cdn.bootcss.com/codemirror/5.2.0/addon/edit/closebrackets.min.js"></script>
	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
</head>
<body>

<style>
body{min-height:300px;padding-top:90px;background: #f6f6f6;}.container{width:98%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.CodeMirror{min-height:300px;;font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;}#textareaCode{min-height:300px}#iframeResult{display: block;overflow: hidden;border:0!important;min-width:100px;width:100%;min-height:300px;background-color:#fff}@media screen and (max-width:768px){#textareaCode{height:300px}.CodeMirror{height:300px;font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;}#iframeResult{height:300px}.form-inline{padding:6px 0 2px 0}}.logo h1{background-image:url(/images/logo-domain-white.png);background-repeat:no-repeat;text-indent:-9999px;width:160px;height:39px;margin-top:10px;display:block}
</style>
<nav class="navbar navbar-default navbar-fixed-top" style="background: #96b97d;">
  <div class="container">
    <div class="navbar-header logo"><h1>
      <a target="_blank" href="/" style="display: block;">RUNOOB.COM</a></h1>
    </div>
  </div>
</nav>
<div class="container" >
    <div class="row">
    
    <div class="col-sm-6">
	<div class="panel panel-default"> 
		<div class="panel-heading">
			<form class="form-inline">
      <div class="row">
          <div class="col-xs-6">
               <button type="button" class="btn btn-default">源代码：</button>
            </div>
            <div class="col-xs-6 text-right">
              <button type="button" class="btn btn-success" onclick="submitTryit()" id="submitBTN"><span class="glyphicon glyphicon-send"></span> 点击运行</button>
          </div>
      </div>
			</form>
		</div>
		<div class="panel-body">
			<textarea class="form-control"  id="textareaCode" name="textareaCode">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset=&quot;utf-8&quot;&gt; 
&lt;title&gt;菜鸟教程(runoob.com)&lt;/title&gt;
&lt;style&gt; 
#main
{
	width:220px;
	height:300px;
	border:1px solid black;
	display:flex;
}

#main div
{
	flex:1;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;div id=&quot;main&quot;&gt;
  &lt;div style=&quot;background-color:coral;&quot;&gt;红色&lt;/div&gt;
  &lt;div style=&quot;background-color:lightblue;&quot;&gt;蓝色&lt;/div&gt;  
  &lt;div style=&quot;background-color:lightgreen;&quot;&gt;带有更多内容的绿色 div&lt;/div&gt;
&lt;/div&gt;

&lt;p&gt;&lt;b&gt;注意:&lt;/b&gt; Internet Explorer 9 及更早版本不支持 flex 属性。&lt;/p&gt;
&lt;p&gt;&lt;b&gt;注意:&lt;/b&gt; Internet Explorer 10 通过 -ms-flex 属性来支持。 IE11 及更新版本完全支持 flex 属性 (不需要 -ms- 前缀)。&lt;/p&gt;
&lt;p&gt;&lt;b&gt;注意:&lt;/b&gt; Safari 6.1 (及更新浏览器) 通过 -webkit-flex 属性支持。&lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;</textarea>
		</div>
	</div>
	</div>

	<div class="col-sm-6">
	<div class="panel panel-default"> 
		<div class="panel-heading"><form class="form-inline"> <button type="button" class="btn btn-default">运行结果</button></form></div>
		<div class="panel-body"><div id="iframewrapper"></div></div>
	</div>
	</div>
	
	</div>

	<footer>
		<div class="row">
			<div class="col-sm-12">
      <div style="text-align: center;">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- demo测试页广告 -->
<ins class="adsbygoogle"
        style="display:inline-block;min-width:300px;max-width:970px;width:100%;height:90px"
     data-ad-client="ca-pub-5751451760833794"
     data-ad-slot="6979016065"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>        <hr>

				<p>Copyright © 2013-2018<a target="_blank" href="//www.runoob.com/">菜鸟教程</a></p>
         </div>
			</div>
		</div>
	</footer>
</div>
<script>
var mixedMode = {
name: "htmlmixed",
scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
               mode: null},
              {matches: /(text|application)\/(x-)?vb(a|script)/i,
               mode: "vbscript"}]
};
var editor = CodeMirror.fromTextArea(document.getElementById("textareaCode"), {
	mode: mixedMode,
	selectionPointer: true,
	lineNumbers: false,
	matchBrackets: true,
	indentUnit: 4,
	indentWithTabs: true
});

window.addEventListener("resize", autodivheight);

var x = 0;
function autodivheight(){
    var winHeight=0;
    if (window.innerHeight) {
        winHeight = window.innerHeight;
    } else if ((document.body) && (document.body.clientHeight)) {
        winHeight = document.body.clientHeight;
    }
    //通过深入Document内部对body进行检测，获取浏览器窗口高度
    if (document.documentElement && document.documentElement.clientHeight) {
        winHeight = document.documentElement.clientHeight;
    }
    height = winHeight*0.68
    editor.setSize('100%', height);
    document.getElementById("iframeResult").style.height= height +"px";
}

function submitTryit() {
  var text = editor.getValue();
  var patternHtml = /<html[^>]*>((.|[\n\r])*)<\/html>/im
  var patternHead = /<head[^>]*>((.|[\n\r])*)<\/head>/im
  var array_matches_head = patternHead.exec(text);
  var patternBody = /<body[^>]*>((.|[\n\r])*)<\/body>/im;
  
  var array_matches_body = patternBody.exec(text);
  var basepath_flag = 1;
  var basepath = '';
  if(basepath_flag) {
    basepath = '<base href="//www.runoob.com/try/demo_source/" target="_blank">';
  }
  if(array_matches_head) {
    text = text.replace('<head>', '<head>' + basepath );
  } else if (patternHtml) {
    text = text.replace('<html>', '<head>' + basepath + '</head>');
  } else if (array_matches_body) {
    text = text.replace('<body>', '<body>' + basepath );
  } else {
    text = basepath + text;
  }
  var ifr = document.createElement("iframe");
  ifr.setAttribute("frameborder", "0");
  ifr.setAttribute("id", "iframeResult");  
  document.getElementById("iframewrapper").innerHTML = "";
  document.getElementById("iframewrapper").appendChild(ifr);
 
  var ifrw = (ifr.contentWindow) ? ifr.contentWindow : (ifr.contentDocument.document) ? ifr.contentDocument.document : ifr.contentDocument;
  ifrw.document.open();
  ifrw.document.write(text);  
  ifrw.document.close();
  autodivheight();
}
submitTryit();
autodivheight();
</script>
<div style="display:none;"><script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8e2a116daf0104a78d601f40a45c75b4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div></body>
</html>